.main {
    max-width: 500px;
    margin: 0 auto;
}

.head-form {
    text-align: center;
}

.label-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.head-input {
    margin-bottom: 10px;
    font-size: 18px;
}

.form-input {
    height: 50px;
    border: 1px solid #afafaf;
    padding-left: 10px;
    width: 100%;
}

.dabl-input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.block-button {
    display: flex;
    gap: 10px;
}

.button {
    padding: 15px 20px;
}

.button-left {
    background-color: black;
    color: #fff;
}

.button-right {
    box-shadow: 0px 2px 6px -1px #000000;
}